{% load staticfiles %}

<footer>
  <a href="http://cozy.nyc">cozy 2017</a>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='{% static "js/custom.js" %}'></script>

<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>

{% block script %}
{% endblock %}

<script>
    $(document).ready(function() {
        {% block jquery %}
        {% endblock %}
    });
</script>
