body {
  background: #272727;
}

h1 {
  color: #F8F5EB;
	font-weight: 700;
}

p {
  color: #F8F5EB;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px;
    background-color: #FFD8E3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-playbutton {
  color: #F8F5EB;
  font-size: 70px;
}

#backgroundVideo{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
}


.vertical-align {
    display: flex;
    align-items: center;
}

.navbar-default {
    background-color: #272727;
		border-color: #272727;
		margin: 0;
}


.navbar-default .navbar-nav>li>a  {
	color: #F8F5EB;
}

.navbar-default .navbar-brand {
	color: #F8F5E8;
}
