body {
  background: #272727;
}

h1 {
  color: #F8F5EB;
	font-weight: 700;
}

p {
  color: #F8F5EB;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px;
    background-color: #FFD8E3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-default {
    background-color: #272727;
		border-color: #272727;
		margin: 0;
}


.navbar-default .navbar-nav>li>a  {
	color: #F8F5EB;
}

.navbar-default .navbar-brand {
	color: #F8F5E8;
}
